#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-light);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    width: 60px;
    height: 60px;
    border: 5px solid var(--gray-200, #646464);
    border-top-color: var(--green, #00cb62);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}