.swiper {
  &-card-3 {
    overflow: hidden;
    &__line-nav {
      padding-top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }
  &-group-btn-type-1 {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &-btn-type-1 {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: var(--white);
    background-color: var(--black-5, #232323);
    transition: opacity 0.4s ease-in-out;
    @media (max-width: 1000px) {
      width: 48px;
      height: 48px;
    }
    @media (min-width: 1201px) {
      &:focus-visible,&:hover {
        background-color: var(--green);
      }
    }
    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  &-nav {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    &__group {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    &__btn {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--black, #141414);
      flex-shrink: 0;
      border-radius: 16px;
      background-color: var(--white, #FFF);
      transition: opacity 0.4s ease-in-out;
      &.swiper-button-disabled {
        opacity: 0.3;
        pointer-events: none;
      }
      @media (max-width: 1200px) {
        width: 52px;
        height: 52px;
      }
      .swiperBtnNext {
        @media (max-width: 1000px) {
          display: none;
        }
      }
      .swiperBtnNextMin {
        display: none;
        @media (max-width: 1000px) {
          display: inline-block;
        }
      }
      &.--next {
        width: 91px;
        @media (max-width: 1000px) {
          width: 52px;
        }
        
      }
      @media (min-width: 1001px) {
        &:focus-visible,&:hover {
          background-color: var(--green);
          color: var(--white, #FFF);
        }
      }
    }
  }
  &-rely {
    .swiper-slide {
      width: auto;
    }
  }
  &-news {
    overflow: hidden;
    margin: -12px -12px 0 -12px;
    padding: 12px 12px 0 12px;
    @media (max-width: 1200px) {
      overflow: visible;
      margin: 0;
      padding: 0;
    }
    .swiper-nav {
      &__btn {
        color: var(--white);
        background-color: var(--gray-500, #232323);
      }
    }
  }
  &-tabs-type-1 {
    overflow: hidden;
    @media (max-width: 1200px) {
      margin: 0 -24px;
      padding: 0 24px;
    }
    @media (max-width: 1000px) {
      margin: 0 -16px;
      padding: 0 16px;
    }
    .swiper-slide {
      height: auto;
      box-sizing: border-box;
      width: auto;
    }
    &.load {
      &::before {
        background-color: var(--gray-50, #f5f5f5);
      }
      &::after {
        top: calc(50% - 16px);
        left: calc(50% - 16px);
        width: 32px;
        height: 32px;
      }
    }
  }
  &-tabs-type-2 {
    overflow: hidden;
    &__line-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    &.load {
      &::before {
        background-color: var(--gray-50, #f5f5f5);
      }
    }
    @media (min-width: 1001px) {
      &.load {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
      &__line-nav {
        display: none;
      }
      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
    }
    @media (min-width: 1201px) {
      .swiper-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
      }
    }
  }
  &-group-btn-type-2 {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &-btn-type-2 {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: var(--white, #FFF);
    color: var(--black, #141414);
    @media (min-width: 1001px) {
      &:focus-visible,&:hover {
        background-color: var(--green);
        color: var(--white, #FFF);
      }
    }
    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
  &-similar-solutions {
    overflow: hidden;
    &.load {
      &::before {
        background-color: var(--gray-50, #f5f5f5);
      }
    }
  }
}