html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** {
  outline: 2px solid red;
}*/

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

button {
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

a:focus,a:focus-visible,button:focus,button:focus-visible,input:focus,input:focus-visible,textarea:focus,textarea:focus-visible {
  outline: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 360px;
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color:  var(--black, #141414);
}

body:has(.board-main), body:has(.similar-solutions), body:has(.management-list), body:has(.feedback) {
  .footer {
    margin-top: 0 !important;
  }
}

/* body:has(.management-list) {
  overflow: hidden;
} */

picture {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main {
  flex: 1;
}

.main:has(.management-list) {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 3;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #333c;
  transition: visibility 0.4s ease-in-out, bottom 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
}

.overlay--active {
  visibility: visible;
  bottom: 0px;
}

.overflow-hidden {
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1412px;
  padding: 0 24px;
  margin: 0 auto;
  @media (max-width: 1000px) {
    padding: 0 16px;
  }
}

.container-min {
  max-width: 964px;
  padding: 0 24px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    max-width: 100%;
  }
  @media (max-width: 1000px) {
    padding: 0 16px;
  }
}

.hidden {
  display: none !important;
}

:root {
  --font-family: "GolosText", sans-serif;
}

:root {
	--white: #fff;
	--black: #141414;
	--green: #00cb62;
	--green-hover: #009e4a;
	--black-light: #191919;
	--gray-50: #f5f5f5;
	--gray-200: #646464;
	--gray-500: #232323;
  --gray-700: #1D1D1D;
  --errors: #ec221f;
}

.uppercase {
  text-transform: uppercase;
}

.mt-24 {
  margin-top: 24px;
}

.mb-108 {
  margin-bottom: 108px;
}

.mt-148 {
  margin-top: 148px;
}

.mb-148 {
  margin-bottom: 148px;
}

.mt-178 {
  margin-top: 178px;
}

.pb-148 {
  padding-bottom: 148px !important;
}

.pt-148 {
  padding-top: 148px !important;
}

.pb-234 {
  padding-bottom: 234px !important;
}

@media (max-width: 1200px) {
  .mt-24 {
    margin-top: 34px;
  }
  .mb-108 {
    margin-bottom: 96px;
  }
  .mt-148 {
    margin-top: 120px;
  }
  .mb-148 {
    margin-bottom: 120px;
  }
  .mt-178 {
    margin-top: 150px;
  }
  .pb-148 {
    padding-bottom: 120px !important;
  }
  .pt-148 {
    padding-top: 120px !important;
  }
  .pb-234 {
    padding-bottom: 120px !important;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 550px) {
  .mt-24 {
    margin-top: 20px;
  }
  .mb-108 {
    margin-bottom: 90px;
  }
  .mt-148 {
    margin-top: 108px;
  }
  .mb-148 {
    margin-bottom: 108px;
  }
  .mt-178 {
    margin-top: 138px;
  }
  .pb-148 {
    padding-bottom: 108px !important;
  }
  .pt-148 {
    padding-top: 108px !important;
  }
  .pb-234 {
    padding-bottom: 108px !important;
  }
}

.swiper-slide {
  box-sizing: border-box;
  height: auto;
  article {
    height: 100%;
  }
}