.card-implemented {
  height: 100%;
  display: flex;
  .title {
    display: none !important;
  }
  &__link {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    border-radius: 24px;
    overflow: hidden;
    flex-direction: column;
    gap: 24px;
    @media (min-width: 1001px) {
      &:focus-visible, &:hover {
        .card-implemented__hover {
          opacity: 1;
        }
        .card-implemented__title {
          color: var(--white, #FFF);
        }
        .card-implemented__desc {
          color: var(--white, #FFF);
        }
      }
    }
  }
  &__hover {
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    background: var(--black-light, #191919);
    transition: opacity 0.4s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('../img/card-implemented/hover-bg.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &::after {
      content: '';
      position: absolute;
      right: -159.683px;
      bottom: -218.022px;
      width: 180.281px;
      height: 474.727px;
      transform: rotate(-178.527deg);
      border-radius: 474.727px;
      border: 1px solid var(--green, #00CB62);
      background: var(--green, #00CB62);
      filter: blur(175px);
    }
    @media (max-width: 1000px) {
      display: none;
    }
  }
  &__wrapper-info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__box-img {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 124px;
    max-height: 124px;
    min-height: 124px;
    img {
      width: 100%;
      height: 124px;
      max-height: 124px;
      min-height: 124px;
      object-fit: contain;
    }
  }
  &__title {
    color: var(--black, #141414);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.4s ease-in-out;
    @media (max-width: 1200px) {
      font-size: 20px;
      -webkit-line-clamp: 3;
    }
    @media (max-width: 1000px) {
      font-size: 18px;
      -webkit-line-clamp: 2;
    }
  }
  &__desc {
    color: var(--gray-200, #646464);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.4s ease-in-out;
    @media (max-width: 1200px) {
      font-size: 15px;
    }
    @media (max-width: 1000px) {
      font-size: 14px;
      -webkit-line-clamp: 4;
    }
  }
}