.media-contacts {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    flex-direction: column;
    gap: 19px;
  }
  &__desc {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.4px;
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 1000px) {
      font-size: 14px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}